= form_for @macro do |f|
  - if @macro.errors.any?
    #error_explanation
      %h2= "#{pluralize(@macro.errors.count, "error")} prohibited this macro from being saved:"
      %ul
        - @macro.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
